@page "/"

<PageTitle>Code Sample Application</PageTitle>

<h1>Code Sample Application</h1>

<div>    
    Test using <a href="swagger">Swagger</a> or see the <a href="UserDashboard">Bound UI</a>
</div>